/* home.css */

/* Estilo general del contenedor */
.home-container {
    font-family: Arial, sans-serif;
    margin: 15px;
    padding: 20px;
    border-radius: 8px;
    background-color: #5520dd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo del encabezado */
.home-container h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo del contenedor de botones */
.home-container>div {
    display: flex;
    flex-direction: column;
    /* Cambiar a columna */
    align-items: center;
    /* Centrar los botones */
    margin-bottom: 20px;
}

/* Estilo de los botones */
.home-container button {
    background-color: #81e1f6;
    color: rgb(4, 3, 3);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    /* Aumentar el padding horizontal */
    margin: 10px 0;
    /* Espaciado vertical entre botones */
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    /* Hacer que los botones ocupen el 100% del ancho */
    max-width: 300px;
    /* Limitar el ancho máximo de los botones */
}

/* Efecto hover para los botones */
.home-container button:hover {
    background-color: #a0c1e4;
}

/* Estilo para el contenido de la sección */
.home-container .section-content {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para el mensaje de sección no seleccionada */
.home-container .no-section-selected {
    text-align: center;
    color: #777;
    font-style: italic;
}